@using eMeterApi.Entities
@using eMeterApi.Models
@using eMeterApi.Models.ViewModels.Devices
@model DevicesIndexViewModel

@{
    var _totalPages = (int) Math.Truncate( (double) ViewBag.TotalItems / Model.Filter.Chunk);
}

<div class="container-fluid dashboard-content">
    
    <!-- pageheader -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h1 class="mb-2">Medidores - @ViewBag.TotalItems </h1>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Devices</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end pageheader -->
    
    
    <!-- Paginator Top  -->
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" disabled >
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @for(int i = 0; i <= _totalPages; i++){
                        var _customRoute = $"/Devices?page={i}";
                        var _label = (i+1).ToString();
                        <li class='page-item @( (i) == (int)Model.Filter.Page?"active":"") '>
                            <a class="page-link" href="@_customRoute">@_label</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" disabled>
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>a
    <!-- End Paginator Top -->
    

    <!-- Details -->
    <div class="row">

        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
            @if(@Model.Devices.Count() > 0)
            {
                foreach (Device device in @Model.Devices)
                {
                    <partial name="./Partials/Card" model="device" />
                }
            }
            else
            {
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">No hay datos disponibles</h4>
                    <p>No hay registros de los medidores asignados a este usuario o no tiene ningun proyecto asignado, espere o contacte con el administrador.</p>
                </div>
            }
        </div>

        
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
            <partial name="./Partials/DeviceSidebar" model="Model.Filter" />
        </div>
    </div>
    <!-- End Details -->

    <!-- Paginator End -->
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" disabled >
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                     @for(int i = 0; i <= _totalPages; i++){
                        var _customRoute = $"/Devices?page={i}";
                        var _label = (i+1).ToString();
                        <li class='page-item @( (i) == (int)Model.Filter.Page?"active":"") '>
                            <a class="page-link" href="@_customRoute">@_label</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" disabled>
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End Paginator End -->
    
</div>