@model eMeterApi.Entities.Device

<div class="card">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="user-avatar float-xl-left pr-4 float-none">
                    <img src="/img/valve.png" alt="Valve" class="rounded-circle user-avatar-xl">
                </div>
                <div class="pl-xl-3">
                    <div class="mb-0 d-flex">
                        <div class="mr-2 mt-1">
                            @if(!string.IsNullOrEmpty(Model.GroupId)){
                                <a href="#" class="mr-1 px-3 badge badge-brand text-black-50"> @Model.GroupId</a>
                            }else{
                                <a href="#" class="mr-1 px-3 badge badge-danger">No definido</a>
                            }
                        </div>
                        <div class="user-avatar-name d-inline-block">
                            <h2 class="font-24 d-inline">DEV @Model.MeterAddress</h2>
                            <div class="rating-star d-inline-block">
                                <p class="d-inline-block text-dark ml-1">@Model.DeviceId</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-avatar-address">
                        <div class="mb-0 d-flex align-items-center">
                            <i class="fa fa-calendar-alt mr-2 text-primary"></i>
                            <div class="ml-0">Fecha Registro: <span class="text-uppercase ml">@Model.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</span></div>
                        </div>
                        <div class="mb-0 d-flex align-items-center">
                            <i class="fa fa-calendar-alt mr-2 text-primary"></i>
                            <div class="ml-0">Ultima Actualizacion: <span class="ml-2 text-uppercase">@Model.UpdatedAt.ToString("dd MMMM yyyy HH:mm:ss")</span></div>
                        </div>
                        <div class="mb-0 d-flex align-items-center">
                            <i class="fa fa-battery-half mr-2 text-primary"></i>
                            <div class="ml-0 mr-3 d-inline"> Bateria: <span class="text-uppercase">@Model.Battery<span></div>

                            <i class="fa fa-bullseye mr-2 text-primary"></i>
                            <div class="ml-0 d-inline">Valvula: <span class="text-uppercase">@Model.Valve</span></div>
                        </div>

                        <p class="mb-0">
                            <i class="fa fa-map-marker-alt mr-2  text-primary"></i>
                            <span class="ml-0">Ubicacion: Ciudad, Estado (Sample) </span>
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="float-xl-right float-none mt-xl-0 mt-4">
                    <a asp-action="Show" asp-controller="Devices" asp-route-id="@Model.MeterAddress" class="btn btn-primary rounded">Mostrar</a>
                </div>
            </div>
        </div>
    </div>
</div>